
.container-fluid {
    background: blue;
  }

 .navbar-default .navbar-brand{
   color:white;
   font-family: 'Righteous', cursive;
 }

 .card{
   font-family: 'Righteous', cursive;
   color:red;
 }

 #A{
   font-family: 'Permanent Marker', cursive;
   color:orange;
   font-size: 2em;
 }

 .list-group{
   display:inline-block;
   float: right;
   }

.rail{
  margin-top: -670px;
  
}
